service: API-Factory-serverless-api

frameworkVersion: "3"

custom:
  serverless-offline:
    httpPort: 4000
    lambdaPort: 4001

provider:
  name: aws
  runtime: nodejs16.x
  lambdaHashingVersion: 20201221
  environment:
  stage: production
  region: ap-northeast-2
  iam:
    role: DefaultRole

resources:
  Resources:
    DefaultRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:service}-${self:stage, "dev"}-LambdaExcutionRole
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        ManagedPolicyArns:
          - arn:aws:iam::aws:policy/AmazonS3FullAccess
          - arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess
        Policies:
          - PolicyName: myPolicyName
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action:
                    - logs:*
                    - ssm:*
                    - execute-api:*
                    - secretsmanager:*
                    - lambda:*
                  Resource: "*"

functions:
  apiRunner:
    handler: src/apiRunner.apiHandler
    timeout: 10
    events:
      - httpApi:
          path: /apiRunner
          method: "*"

plugins:
  - serverless-offline
